<h1>New User</h1>

<%= form_tag("/users", :method => "post") do %>
  <input type="text" name="name" placeholder="Name">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
<% end %>
